body {

  background-image: url("cereal.gif");
  background-repeat:no-repeat;
  background-size: 1550px 800px


}

.container{
  text-align: center;
  margin-top: 360px;
}
.btn{
  border: 1px solid #ff8080;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;

}
.btn1{
  color: #ff8080;

}

.btn1:hover{
  color: #000000
}

.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #ff8080;
  z-index: -1;
  transition: 0.8s;
}

.btn1::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1:hover::before{
  height: 180%
}